<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- Enable automatic mapping of underscored column names to camelCase property names -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Enable lazy loading -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- Disable aggressive lazy loading -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- Enable multiple result sets -->
        <setting name="multipleResultSetsEnabled" value="true"/>
        <!-- Use column labels instead of column names -->
        <setting name="useColumnLabel" value="true"/>
        <!-- Enable automatic generation of keys -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- Default executor type -->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <!-- Default statement timeout -->
        <setting name="defaultStatementTimeout" value="25"/>
        <!-- Log implementation -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <!-- Domain Objects -->
        <typeAlias alias="User" type="org.doit.member.model.User"/>
        <typeAlias alias="Reservation" type="org.doit.member.model.ReservationDTO"/>
    </typeAliases>
</configuration>