<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.doit.admin.mapper.CheckDuplicationSchedulesDbMapper">
    <select id="duplicationSchedules" resultType="int">
        SELECT 
            CASE 
                WHEN COUNT(*) > 0 THEN 1 
                ELSE 0 
            END
        FROM flight
        WHERE 
        <foreach collection="list" item="item" separator=" OR ">
            (flightNo = #{item.flightNo} AND arrival_time = #{item.departureTime} AND departure_time = #{item.arrivalTime})
        </foreach>
    </select>
    
</mapper> 


