<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.doit.admin.mapper.SeatLoadMapper">
    
    <select id="seatLoad" resultType="org.doit.admin.dto.SeatLoadDTO">
        SELECT row, seat, Acceptance_status AS selectable
        FROM flight_seat
        WHERE flight_id = #{flightid}
    </select>

    <!-- 좌석 가격 정보 조회 - 명시적 필드 매핑 -->
    <select id="seatPriceLoad" resultType="org.doit.admin.dto.SeatPriceLoadDTO">
        SELECT 
            class_id as classid,
            price as price
        FROM seat_price
        WHERE flight_id = #{flightid}
        ORDER BY class_id
    </select>

</mapper> 


