<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.doit.booking.mapper.PassengerMapper">

<insert id="insertPassenger" parameterType="org.doit.booking.dto.PassengerDTO">
    INSERT INTO passenger (
        passenger_id,
        user_no,
        booking_id,
        last_name,
        first_name,
        birth_date,
        gender,
        passenger_type
    ) VALUES (
        #{passengerId},
        #{userNo, jdbcType=INTEGER},
        #{bookingId},
        #{lastName},
        #{firstName},
        #{birthDate},
        #{gender},
        #{type}
    )
</insert>


</mapper>  